body {
    margin: 0%;
}

header {
    font-style: oblique;
    background-color: rgb(110, 0, 0);
    padding: 5%;
    color: azure;
    text-align: center
}

nav {
    size: ;
    display:flex;
    list-style: none;
}

li {
    margin: 3%;
}

a{
    text-decoration: none;
}

description {
    text-decoration:brown ;
}

h1 {

}
h2 {

}
m {
    text-align: center;
}
members {
    text-align: center;
}

memorable {
    text-align: center;
}